body {
    background-color: rgb(231, 231, 219);
    color: rgb(59, 43, 20);
}
.center{
    text-align: center;
    font-family: 'Lora', serif;
}

.center-about {
    font-size: 1em;
    text-align: left;
    font-family: 'Lora', serif;
}

.center-quote {
    font-size: 2em;
    text-align: center;
    font-family: 'Lora', serif;
}